
#main-body {

  background-image: linear-gradient(grey, white, grey);

}

h1 {
    text-shadow: 3px 2px 8px white;
}

body{
    background-image: url(../images/worldwide.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


p {
    font-size: 20px;
}

li {
    white-space: pre-line;
    font-size: 20px;
}

.clickable{
    cursor: pointer;
}
.filter {
   -webkit-filter: invert(1);
   filter: invert(1);
   }
.filter:hover {
	-webkit-filter: invert(0);
   filter: invert(0);
}

